{% extends 'plantilla.html' %}

{% block title %} Bienvenido {% endblock title %}

{% block content %}
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Bienvenido</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Bienvenido</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="card card-outline card-info">
      <div class="card-header row">
        <div class="col">
          <h1 class="card-title"> LISTADO DE CURSOS</h1>
        </div>
        <div class="col text-right">
          <a href="{% url 'agregarcurso' %}" class="btn btn-sm btn-primary btn-add"><i class="fas fa-plus"></i> NUEVO</a>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6 pull-right">
            <form action="" method="GET">
              <div class="input-group">
                <input type="text" name="buscar" id="buscar" class="form-control" placeholder="Buscar">
                <span class="input-group-btn">
                  <button class="btn btn-primary">
                    <i class="fa fa-search"></i>
                  </button>
                </span>
              </div>
            </form>
          </div>
        </div>
        <table class="table mt-2">
          <table id="tablacursos" class="table table-striped mt-4" style="width:100%">
            <thead class="bg-info text-white">
              <tr>
                <th>CODIGO</th>
                <th>DESCRIPCION</th>
                <th><center>OPCIONES</center></th>
              </tr>
            </thead>
            {% if curso %}
              {% for itemcurso in curso %}
              <tr>
                <td>{{ itemcurso.id_curso }}</td>
                <td>{{ itemcurso.descripcion }}</td>
                <td style="text-align:center;">
                  <a href="{% url 'editarcurso' itemcurso.id_curso %}" class="btn btn-info btn-sm"><i class="fa fa-edit"></i> Editar</a>
                  <a href="#" onclick="eliminarCurso('{{itemcurso.id_curso}}','{{itemcurso.descripcion}}')" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> Eliminar</a> 
                </td>
              </tr>
              {% endfor %}
            {% else %}
              <tr style="text-align:center;">
                <td colspan="3">
                  <p> No hay registros </p>
                </td>
              </tr>
            {% endif %}
        </table>
      </div>
    </div>
  </section>
{% endblock content %}