{% extends 'plantilla.html' %}

{% block title %} Profesores {% endblock title %}

{% block content %}
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6 pl-3">
          <h1>Profesores</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href={% url 'home' %}>Home</a></li>
            <li class="breadcrumb-item active">Profesores</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container">
      <div class="card card-outline card-info">
        <div class="card-header row">
          <div class="col">
            <h1 class="card-title"> LISTADO DE PROFESORES</h1>
          </div>
          <div class="col text-right">
            <a href="{% url 'agregarprofesor' %}" class="btn btn-sm btn-primary btn-add"><i class="fas fa-plus"></i> NUEVO</a>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6 pull-right">
              <form action="" method="GET">
                <div class="input-group">
                  <input type="text" name="buscar" id="buscar" class="form-control" placeholder="Buscar">
                  <span class="input-group-btn">
                    <button class="btn btn-primary">
                      <i class="fa fa-search"></i>
                    </button>
                  </span>
                </div>
              </form>
            </div>
          </div>
          <table class="table mt-2">
            <table id="tablaprofesores" class="table table-striped mt-4" style="width:100%">
              <thead class="bg-info text-white">
                <tr>
                  <th class="text-center">CODIGO</th>
                  <th>NOMBRE</th>
                  <th>EMAIL</th>
                  <th><center>OPCIONES</center></th>
                </tr>
              </thead>
              {% if profesor %}
                {% for itemprofesor in profesor %}
                <tr>
                  <td class="text-center">{{ itemprofesor.id_profesor }}</td>
                  <td>{{ itemprofesor.nombres }} {{ itemprofesor.apellidos }}</td>
                  <td>{% if itemprofesor.email %} {{ itemprofesor.email }} {% else %} Sin email {% endif %}</td>
                  <td style="text-align:center;">
                    <a href="{% url 'editarprofesor' itemprofesor.id_profesor %}" class="btn btn-info btn-sm"><i class="fa fa-edit"></i> Editar</a>
                    <a href="#" onclick="eliminarCurso('{{itemprofesor.id_profesor}}','{{itemprofesor.apellidos}}')" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> Eliminar</a> 
                  </td>
                </tr>
                {% endfor %}
              {% else %}
                <tr style="text-align:center;">
                  <td colspan="4">
                    <p> No hay registros </p>
                  </td>
                </tr>
              {% endif %}
          </table>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}

{% block js %}
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {% if messages %}
      {% for m in messages %}
        <script>
          Swal.fire({
          "title": "Eliminado",
          "text":"{{m}}",
          "icon":"success"
          })
        </script>
      {% endfor %}
    {% endif %}
  <script>
    function eliminarCurso(id,apellidos){
      Swal.fire({
        "title": "¿Realmente desea eliminar el registro?",
        "text": "Codigo: "+ id + " | \n" + apellidos,
        "icon": "question",
        "showCancelButton": true,
        "cancelButtonText": "No",
        "confirmButtonText": "Si",
        "reverseButton": true,
        "confirmButtonColor": "#dc3545"
      })
      .then(function(result){
        if(result.isConfirmed){
          window.location.href="/eliminarprofesor/"+id+"/"
        }
      })
    }
  </script>
{% endblock %}